<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.landonferrier.healthcareapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SigninActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HelpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddReminderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddMedicationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddJournalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TermsOfConditionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TermsPrivacyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PrivacySettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SurgeryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SurgeryDateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SurgeryInfoDetailActivity"
            android:screenOrientation="portrait"/>
    </application>

    <meta-data
        android:name="com.parse.SERVER_URL"
        android:value="@string/back4app_server_url" />
    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="@string/back4app_app_id" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="@string/back4app_client_key" />

</manifest>